body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Kumbh Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F4F6F8;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.test {
  background: url('images/nav.svg') no-repeat;
  background-size: cover;
  border-radius: 0px 0px 0px 100px;

}


@media screen and (max-width: 600px) {
  .test {
    background: url('images/small_nav.svg') no-repeat;
    background-size: cover;
    border-radius: 0px;
  }
}